@import '../../config/_index.scss';

.button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: $size-xsmall;
  font-weight: 700;
  line-height: 1;
  font-family: $font-family-base;
  transition: background-color 0.3s ease;
}

.button--primary {
  background-color: $primary;
  color: $onPrimary;
  &:hover {
    background-color: $primaryDark;
  }
}

.button--secondary {
  box-shadow: $secondaryDark 0px 0px 0px 1px inset;
  background-color: $secondary;
  color: $onSecondary;
  &:hover {
    background-color: $secondaryDark;
  }
}

.button--danger {
  background-color: $errorLight;
  color: $errorDark;
  box-shadow: $errorDark 0px 0px 0px 1px inset;
  &:hover {
    background-color: $error;
    color: $primary;
    box-shadow: $errorLight 0px 0px 0px 1px inset;
  }
}

.button--small {
  padding: 10px 16px;
  font-size: 12px;
}

.button--medium {
  padding: 11px 20px;
  font-size: 14px;
}

.button--large {
  padding: 12px 24px;
  font-size: 16px;
}
