@import '../../config/index';

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog-content {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  position: relative;
}

.dialog-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.dialog-title {
  margin: 0;
  font-weight: $font-weight-bold;
  font-size: $font-size-large;
}

.dialog-subtitle {
  color: gray;
  margin: 0;
}

.dialog-body {
  margin: 20px 0;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
}

.dialog-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
}
