@import '../../config/index';

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  position: relative;
}

.modal-close-icon--container {
  position: relative;
}

.modal-close-icon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.modal-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: $spacing-xxsmall;
}

.modal-title {
  margin: 0;
  font-weight: $font-weight-bold;
  font-size: $font-size-large;
}

.modal-subtitle {
  color: gray;
  margin: 0;
  font-size: $font-size-medium;
  font-weight: $font-weight-normal;
}

.modal-body {
  margin: $size-medium 0;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: $spacing-small;
}
